@model IEnumerable<UniversityResturantInformation.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "AdminLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive">
    <table id="myTable" class="table table-striped table-sm border">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Role.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.Guid">Edit</a> |
                        <a asp-action="Details" asp-route-id="@user.Guid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@user.Guid">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Guid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Guid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Guid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@