@using System.Security.Claims;


@model IEnumerable<UniversityResturantInformation.Models.Menu_Item>

@{
    ViewData["Title"] = "Index";
    if (User.FindFirst(ClaimTypes.Role).Value == "DataEntry")
    {
        Layout = "DataEntryLayout";
    }
    else if (User.FindFirst(ClaimTypes.Role).Value == "Admin")
    {
        Layout = "AdminLayout";
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive">
<table id="myTable" class="table table-striped table-sm border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu.Meal)
            </th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsDeleted != true)
                {
                    <tr>
                        <td>
                    @Html.DisplayFor(modelItem => item.Item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.Id)
                </td>
                
                            @if (item.Menu.Meal == 1)
                            {
                            <td>BreakFast</td>
                            }
                            else if (item.Menu.Meal == 2)
                            {
                            <td>Lunch</td>
                            }
                            else
                            {
                            <td>Dinner</td>
                            }
                
                <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                            <i class="bi bi-pencil"></i>
                        </a> |
                        <a asp-action="MIDetails" asp-route-id="@item.Id" class="btn btn-info">
                            <i class="bi bi-info-circle"></i>
                        </a> |
                        <a asp-action="MIDelete" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                </td>
            </tr>
                 }
        }
    </tbody>
</table>
</div>


@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuId)
                </td>
                <td>
                    <a asp-action="MenuItemEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 *@
<script>
    $(document).ready(function () {
        var table = $('#myTable').DataTable();
        $('#CrnSearch').on('change', function () {
            table.search(this.value).draw();
        });

        //var newarray1 = [];
        $('#myTable tbody').on('click', 'tr', function () {
            var str = "";
            newarray = [];
            //newarray1 = [];
            $(this).toggleClass('selected');
            var data = table.rows('.selected').data();
            for (var i = 0; i < data.length; i++) {
                //alert("SectionName: " + data[i][0] + " SectionCrn: " + data[i][1] + " courseName: " + data[i][2]
                //    + " LectureNumber: " + data[i][3] + " LectureDate: " + data[i][4] + " LectureTime: " + data[i][5]);
                newarray.push(JSON.parse('{ "ItemId": "' + data[i][0] + '", "ItemName":"' + data[i][1] + '"}'));
                str = str + `<div class="col-md-3">
                            <div class="block text-center">
                                <div class="block-header remove-padding" style="border-bottom: 1px solid #e8e8e8;background-color:#0d6f77;">
                                    <h3 class="block-title remove-margin" style="color: white;">${data[i][1]}</h3>
                                </div>
                                <div class="block-content remove-padding" style="background-color:#bf8f2a;">
                                    <span style="color:Black;">${data[i][1]}</span>
                                </div>
                            </div>
                        </div>`
            }
            if (data.length != 0) {
                var sData = JSON.stringify(newarray);
                document.getElementById("tableInfoId").value = sData;
                $("#SelectedValues").html(str);
                //var sData1 = JSON.stringify(newarray1);
                //document.getElementById("tableInfoId1").value = sData1;
            }
            else {
                document.getElementById("tableInfoId").value = '';
                $("#SelectedValues").html('');
                //document.getElementById("tableInfoId1").value = '';
            }
        });

        $('#button').on('click', function () {
            //alert(table.rows('.selected').data().length + ' row(s) selected');
            //alert(sData);
        });
    });
</script>