@{
    Layout = "_Layout";
}
<br />
<br />
<br />
<br />
<br />

    <div class="row gy-5">
        @{
            foreach (Item menu in ViewBag.items)
            {
                <div class="col-lg-4 menu-item">
                <div style="text-align:center">

                    <a href="@menu.File" class="glightbox">
                        <img src="@menu.File" style="width:250px ; height:175px" class="menu-img img-fluid" alt="">
                    </a>
                    <br>
                    <br>
                    <br>
                    <h4 style="color:#37373F; font: 22px ;font-weight: 500">@menu.ItemName</h4>
                    <p class="price" style="color: #d41914; font-size: 24px; font-weight:700;">Cal: @menu.Cal</p>
                    <p class="price" style="color: #d41914; font-size: 24px; font-weight:700">
                        @menu.Total <i class="bi bi-star-fill" style="color: #d41914;"></i>
                    </p>
                    </div>
                </div>
            }

        }
    </div>
